.help-panel{
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  background: #00000040;
}

@font-face {
  font-family: "CustomFont-light";
  src: url("Raleway/static/Raleway-Light.ttf");
}

h1{
  font-family: 'CustomFont-light';
}

h3{
  text-align: center;
  margin-bottom: 30px;
  font-family: 'CustomFont-light';

}

.margin-center{
  margin: auto;
  text-align: center;
}

@font-face {
  font-family: "CustomFont";
  src: url("Raleway/static/Raleway-Medium.ttf");
}

@font-face {
  font-family: "CustomFont-salt";
  src: url("Rock_Salt/RockSalt-Regular.ttf");
}

.nav-link {
  font-family: 'CustomFont';
}

.nah{
  scroll-behavior: smooth;
    max-width: 500px;
    white-space: nowrap;
    overflow-x: hidden;
    margin: 10px;
    flex-wrap: nowrap;
}

.bg-image{
  object-fit:cover;
   padding: 10px; 
   border-radius: 5px;
}

div.onigiri-icon{
  margin: 0px 15px;
  background: url("pngegg.png") center/contain no-repeat;
  width: 35px;
  height: 35px;
}

span.onigiri-icon{ 
  font-family: 'CustomFont-salt'
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}
.btn-outline-secondary {
    --bs-btn-color: #0d6efd;
    --bs-btn-border-color: #0087ff;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #0d6efd;
    --bs-btn-hover-border-color: #0d6efd;
    --bs-btn-focus-shadow-rgb: 49,132,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #0d6efd;
    --bs-btn-active-border-color: #0d6efd;
    --bs-btn-active-shadow: inset 0 3px 5px#0d6efd33;
    --bs-btn-disabled-color: #0d6efd;
    --bs-btn-disabled-bg: transparent;
    --bs-gradient: none;
}

body{
  overflow-x: hidden;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin .last-input {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

header{
  transition-duration: 0.5s;
}


@media (max-width:  500px){
  header.bitch{
    opacity: 0;
  }
}